@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
    width: 312px;
  }
}

.navLink {
  height: 82px;
  display: flex;
  align-items: center;
  transition: 0.4s ease-in-out;
  margin-bottom: 6px;
  border-radius: 14px;

  &:last-child {
    margin-bottom: unset;
  }

  &:hover {
    background-color: #3B486D;
  }

  &.isHovered {
    .label {
      animation: slideIn 0.4s forwards;
    }
  }

  &.navLinkActive {
    .imgWrapper {
      background-color: #3B486D;
    }
  }

  &.navLinkActive.isHovered {
    background-color: #3B486D;
  }
}

.imgWrapper {
  width: 82px;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 4s;
  padding: 30px;
  border-radius: 50%;
}

.label {
  color: #F1F1F1;
  font-size: 36px;
  font-weight: 700;
  width: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-100%);
  white-space: nowrap;
}